<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.EvaluationLibaryMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.EvaluationLibary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="applicability_id" jdbcType="VARCHAR" property="applicabilityId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="evaluation_type" jdbcType="CHAR" property="evaluationType" />
    <result column="creator" jdbcType="VARCHAR" property="creator"/>
  </resultMap>
</mapper>