<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.EvaluationLibaryNodeMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.EvaluationLibaryNode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="evaluation_id" jdbcType="VARCHAR" property="evaluationId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="target_value" jdbcType="REAL" property="targetValue" />
    <result column="assign_user" jdbcType="VARCHAR" property="assignUser" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="severity_level" jdbcType="VARCHAR" property="severityLevel" />
    <result column="level_is_approved" jdbcType="VARCHAR" property="levelIsApproved" />
    <result column="compliance_level" jdbcType="VARCHAR" property="complianceLevel" />
    <result column="node_position" jdbcType="INTEGER" property="nodePosition" />
    <result column="applicability_node_id" jdbcType="VARCHAR" property="applicabilityNodeId" />
    <association property="assign" columnPrefix="user_" javaType="com.company.project.model.User" resultMap="com.company.project.dao.UserMapper.BaseResultMap"/>
    <collection  property="attachments" columnPrefix="att_" javaType="list" ofType="com.company.project.model.Attachment" resultMap="com.company.project.dao.AttachmentMapper.BaseResultMap"/>
  </resultMap>

    <select id="slectAllChildrenNode" resultMap="BaseResultMap">
        select n.*,
         u.id as user_id, u.username as user_username, u.password as user_password, u.nick_name as user_nick_name, u.register_date as user_register_date,
         u.dept_id as user_dept_id, u.phone as user_phone, u.email as user_email, u.status as user_status,
         a.id as att_id, a.name as att_name, a.size as att_size, a.biz_id as att_biz_id, a.create_time as att_create_time, a.path as att_path
        from  evaluation_libary_node n
        LEFT JOIN user u on u.id=n.assign_user
        LEFT JOIN attachment a on n.id=a.biz_id,
    (select @c := getChildEvaluationNode(#{param1})) initialisation
        where find_in_set(n.id,@c) order by n.node_position
    </select>

    <select id="selectNodesByEvaluationIdWithAssignUser" resultMap="BaseResultMap">
        select n.*,
         u.id as user_id, u.username as user_username, u.password as user_password, u.nick_name as user_nick_name, u.register_date as user_register_date,
         u.dept_id as user_dept_id, u.phone as user_phone, u.email as user_email, u.status as user_status,
         a.id as att_id, a.name as att_name, a.size as att_size, a.biz_id as att_biz_id, a.create_time as att_create_time, a.path as att_path
        from  evaluation_libary_node n
        LEFT JOIN user u on u.id=n.assign_user
        LEFT JOIN attachment a on n.id=a.biz_id
        where n.evaluation_id = #{param1}
    </select>
</mapper>