<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.EvaluationLibaryNodeMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.EvaluationLibaryNode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="evaluation_id" jdbcType="VARCHAR" property="evaluationId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="target_value" jdbcType="REAL" property="targetValue" />
    <result column="assign_user" jdbcType="VARCHAR" property="assignUser" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="severity_level" jdbcType="VARCHAR" property="severityLevel" />
    <result column="level_is_approved" jdbcType="VARCHAR" property="levelIsApproved" />
    <result column="compliance_level" jdbcType="VARCHAR" property="complianceLevel" />
    <result column="node_position" jdbcType="INTEGER" property="nodePosition" />
    <result column="applicability_node_id" jdbcType="VARCHAR" property="applicabilityNodeId" />
    <association property="assign" column="assign_user" select="com.company.project.dao.UserMapper.selectByPrimaryKey"/>
  </resultMap>

    <select id="slectEvaluationNode" resultMap="BaseResultMap">
        select * from  evaluation_libary_node where id in(    select id from (
        select t1.id,
        if(find_in_set(parent_id, @pids) > 0, @pids := concat(@pids, ',', id), 0) as ischild
        from (
        select id,parent_id from evaluation_libary_node t   order by parent_id, id
        ) t1,
        (select @pids := #{param1}) t2
        ) t3 where ischild != 0 )
    </select>
</mapper>