<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TaskLogMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.TaskLog">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="question_severity" jdbcType="VARCHAR" property="questionSeverity" />
    <result column="question_status" jdbcType="CHAR" property="questionStatus" />
    <result column="control_json" jdbcType="LONGVARBINARY" property="controlJson" />
    <result column="evaluation_id" jdbcType="VARCHAR" property="evaluationId"/>
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="chapter" jdbcType="VARCHAR" property="chapter" />
  </resultMap>

    <select id="queryAllTask" resultMap="BaseResultMap">
        SELECT t.*, u.username as user_name,d.name as dept_name
         FROM task_log t LEFT JOIN user u on t.user=u.id
         LEFT JOIN dept d on t.dept=d.id
         where t.evaluation_id=#{param1}
         order by time desc
    </select>
</mapper>