<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TaskLogMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.TaskLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="question_severity" jdbcType="VARCHAR" property="questionSeverity" />
    <result column="question_status" jdbcType="CHAR" property="questionStatus" />
    <result column="control_json" jdbcType="LONGVARBINARY" property="controlJson" />
    <result column="evaluation_id" jdbcType="VARCHAR" property="evaluationId"/>
  </resultMap>
</mapper>